---
layout: single
---

<article class="post-content">
  <div class="post-content__container">
    <!-- Post meta information -->
    <div class="post-meta">
      <div class="post-date">
        <i class="fas fa-calendar-alt"></i>
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %d, %Y" }}
        </time>
      </div>
      
      {% if page.tags and page.tags.size > 0 %}
        <div class="post-tags">
          {% for tag in page.tags %}
            <span class="tag">#{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    
    {{ content }}
  </div>
</article>